<%= form_with(model: @user, local: true ) do |form| %>
  <br>
  <div class="user">
    <p>What are news?</p>
    <div class="form">
        <br>
        <%= form.text_field :name, placeholder: "Name..." %> 
        <br>
        <br>
        <%= form.email_field :email, placeholder: "Email..." %>
        <br>
        <%= form.password_field :password, placeholder: "Password..." %>
        <br> 
        <br> 
        <%= form.password_field :password_confirmation, placeholder: "Password confirmation..." %>
        <br>
        <br>
        <%= form.file_field :profil %>
        <%= form.hidden_field :profil_cache %>
    </div>
    <br>
    <%= form.submit "Update", class: "submit" %>
  </div>
<% end %>