<h1>More informations</h1>
<div class="post">
	<p>Tweeted by you at: <%= @post.created_at %> and Updated at <%= @post.updated_at %> by <%= @post.user.name %> </p>
	<hr>
	<p>Content: <%= @post.content %></p>
	<div>
		<%unless @post.image.blank? %>
			<%= image_tag @post.image.url %>
		<%end%>
	</div>
	<% unless @post.user_id == current_user.id %>
		<% if @favorite.present? %>
			<%= link_to 'Remove favorite', favorite_path(id: @favorite.id), method: :delete %>
		<% else %>
			<%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post %>
		<% end %>
	<% end %>
</div>

