<!DOCTYPE html>
<html>
  <head>
    <title>Task01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="flash"><%= notice %></div>
    <% end %>
    <div class="contain">    
    <header class="clearfix">
      <div class="header-container">
        <div class="header_menu">
          <div class="left"><%= image_tag("insta.png", style: "height:90px;width:90px;") %></div>
          <div class="Text">InstaClone</div>

          <div class="">
          
          <% if logged_in? %>
            <div class="menu">
            <i class="fas fa-home"></i> <%= link_to "Home", posts_path,  class: "link" %> |
            <%= link_to 'New Post', new_post_path, class: "link" %> |
            <%= link_to 'Change Profil', edit_user_path(current_user.id), class: "link" %> |
            <%= link_to 'Fav list', favorites_path, class: "link" %> |
            <%= link_to "Logout", session_path(current_user.id), method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_path %> |
            <%= link_to "Login", new_session_path %>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </header>
    </div>
    <section class="section">
      <%= yield %>
    </section>
    <footer>
      © ︎ divecorp 2021 - Instagramclone
    </footer>
  </body>
</html>
